/* === GLOBAL === */

@font-face {
  font-family: Roboto-variable;
  src: url(./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Roboto-variable;
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 150px 5fr / 250px 4fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

/* === SIDEBAR === */

.sidebar {
  grid-area: sidebar;
  background: rgb(33, 128, 220);
}

h1 {
  color: white;
}


ul {
  list-style-type: none;
  padding: 0;
  font-weight: 800;
  padding-top: 25px;
}

h1 > i {
  padding-left: 0.5rem;
}

.title {
  padding-left: 0.5rem;
}

a > i {
 padding-left: 1rem;
}

.side-bar-desc {
  padding-left: 1rem;
}

li a {
  display: block;
  text-decoration: none;
  line-height: 3rem;
}

li a:hover {
  background-color: black;
}

li a:visited {
  color: white;
}

/* === HEADER === */

.header {
  grid-area: header;
  padding: 1rem 2rem;
}

.header-top,
.header-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bot {
  padding-top: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;;
  width: 70%;
}

.search-bar > i {
  padding-right: 1rem;
}

.search-bar input {
  padding-left: 2rem;
}

input {
  border-radius: 10px;
  padding: 5px;
  width: 70%;
  background-color: rgb(230, 230, 230);
  border: none;
}

.profile-sml,
.profile-lg {
  display: flex;
}

.profile-sml {
  width: 30%;
  align-items: center;
  justify-content: right;
}

.profile-sml > * {
  margin-left: 20px;
}

.profile-sml i {
  font-size: 1.3rem;
}

.profile-lg-desc {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
}

.profile-lg p {
  margin: 0;
}

.profile-pic {
  border-radius: 50%;
  border: 1px black solid;
}

.profile-pic-lg {
  height: 4rem;
  width: 4rem;
}

.profile-pic-sml {
  height: 2.3rem;
  width: 2.3rem;
}

.intro {
  font-size: 0.8rem;
  font-weight: 500;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.button-options {
  width: 30%;
  display: flex;
  justify-content: right;
}

.button-options button {
  font-weight: 550;
  color: white;
  background-color: rgb(33, 128, 220);
  padding: 8px;
  border-radius: 20px;
  width: 4rem;
  height: 2rem;
  border: none;
  margin-left: 20px;
}

/* === MAIN CONTENT === */

.main {
  background-color: rgb(229, 229, 229);
  grid-area: main-content;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  grid-template-areas: 
    "projects announcements"
    "projects trending"
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.main p {
  margin: 0;
}

.projects-section {
  grid-area: projects;
}

.announcements-section {
  grid-area: announcements;
}

.trending-section {
  grid-area: trending;
}

.projects-section {
  padding-left: 15px;
}

.projects {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.project-card {
  background-color: white;
  border-radius: 10px;
  border-left: 5px solid orange;
  padding: 30px 10px;
  margin-right: 15px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 1.3em 1fr 1.5em;

}

.card-title {
  font-size: 1em;
  font-weight: bold;
}

.card-desc {
  font-size: 0.9em;
}

.card-btns {
  display: flex;
  justify-content: right;
}

.card-btns > * {
  padding: 30px 10px 0px 10px;
}

.announcements {
  background-color: white;
  border-radius: 10px;
}

.trending {
  background-color: white;
  border-radius: 10px
}